.page-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #fae7c5;
  display: flex;
  flex-direction: column;
}

.main-title {
  color: #f4a841;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.screen {
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  &__display {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 10rem;
    border-radius: 7px;
    background-color: #ad9a78;
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);
  }
}

.result {
  text-align: end;
  padding: 1rem;
  font-size: 3rem;
  color: #fae7c5;
  font-weight: bold;
}

.typed {
  color: #fae7c5;
  font-size: 1.3rem;
  padding: 1rem;
  text-align: end;
  letter-spacing: 2px;
}

.keyboard {
  margin-top: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;

  &__pad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

.last {
  grid-column: span 2;
  background-color: rgba($color: #f4a841, $alpha: 0.2);
  border-radius: 30px;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    transform: scale(1.1);
  }
}

.key {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    background-color: rgba($color: #f4a841, $alpha: 0.2);
    border-radius: 10px;
  }
}

.yellow {
  color: #f4a841 !important;
}

@media only screen and (min-width: 500px) {
  .screen {
    &__display {
      width: 500px;
    }
  }

  .keyboard {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;

    &__pad {
      width: 500px;
      background-color: #fff5e3;
      // border: solid 1px #ad9a78;
      border-radius: 7px;
      padding: 2rem;
      box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.2);
    }
  }
}
